<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>{{.Title}} - admin</title>
    </head>
    <body>
        <div class="nav-right">
            [<a href="/" target="_top">{{ T "nav.home" }}</a>]
            [<a href="/admin">{{ T "admin.mode_link" }}</a>]
            [<form action="/admin/logout" method="POST" class="inline-form"><button type="submit" class="link-button">{{ T "admin.logout" }}</button></form>]
        </div>
        <p class="board-header">
            <span class="board-title">{{.Title}}</span>
            <hr class="title-hr">
            <table class="reply-mode-banner">
                <tr>
                    <th>{{ T "admin.change_password" }}</th>
                </tr>
            </table>
            <center>
                <form class="post-form" action="/admin/password" method="POST">
                    <table class="post-form-table">
                        <tr>
                            <td class="form-label"><b>{{ T "admin.current_password" }}</b></td>
                            <td><input type="password" name="current" size="28" autofocus></td>
                        </tr>
                        <tr>
                            <td class="form-label"><b>{{ T "admin.new_password" }}</b></td>
                            <td><input type="password" name="new" size="28"></td>
                        </tr>
                        <tr>
                            <td class="form-label"><b>{{ T "admin.confirm_password" }}</b></td>
                            <td>
                                <input type="password" name="confirm" size="28">
                                <input type="submit" value="{{ T `admin.change_password_button` }}">
                            </td>
                        </tr>
                        {{if .Error}}
                        <tr>
                            <td colspan="2"><small style="color:#cc1105">{{.Error}}</small></td>
                        </tr>
                        {{end}}
                        {{if .Success}}
                        <tr>
                            <td colspan="2"><small style="color:#117743">{{ T "admin.password_changed" }}</small></td>
                        </tr>
                        {{end}}
                    </table>
                </form>
            </center>
        </p>
        <p class="footer">
            - <a href="http://php.s3.to" target="_top">GazouBBS</a> + <a href="http://www.2chan.net/" target="_top">futaba</a> + rikachama -
        </p>
    </body>
</html>
