<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/static/style.css">
        {{if .OekakiEnabled}}<link rel="stylesheet" href="/static/tegaki/tegaki.css">{{end}}
        <title>{{.Title}}</title>
    </head>
    <body>
        <p class="nav-right">
            [<a href="{{.Home}}" target="_top">{{ T "nav.home" }}</a>]
            [<a href="/admin">{{ T "admin.mode_link" }}</a>]
        <p class="board-header">
            <span class="board-title">{{.Title}}</span>
            <hr class="title-hr">
            [<a href="/">{{ T "nav.back_to_board" }}</a>]
            <table class="reply-mode-banner">
                <tr>
                    <th>{{ T "thread.reply_mode" }}</th>
                </tr>
            </table>
            <center>
                <form class="post-form" action="/thread/{{.Thread.ID}}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="MAX_FILE_SIZE" value="{{.MaxBodySize}}">
                    <table class="post-form-table">
                        <tr>
                            <td class="form-label"><b>{{ T "form.name" }}</b></td>
                            <td><input type="text" name="name" size="28"></td>
                        </tr>
                        <tr>
                            <td class="form-label"><b>{{ T "form.email" }}</b></td>
                            <td><input type="text" name="email" size="28"></td>
                        </tr>
                        <tr>
                            <td class="form-label"><b>{{ T "form.subject" }}</b></td>
                            <td>
                                <input type="text" name="sub" size="35">
                                <input type="submit" value="{{ T `form.submit` }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="form-label"><b>{{ T "form.comment" }}</b></td>
                            <td><textarea name="com" cols="48" rows="4" wrap="soft"></textarea></td>
                        </tr>
                        <tr>
                            <td class="form-label"><b>{{ T "form.attach" }}</b></td>
                            <td>
                                <input type="file" name="upfile" size="35">
                                {{if .OekakiEnabled}}
                                <button type="button" id="oekaki-btn">{{ T "form.draw" }}</button>
                                <input type="file" name="replay_file" id="replay-file-input" style="display:none">
                                <input type="hidden" name="replay_duration" id="replay-duration-input" value="">
                                {{end}}
                            </td>
                        </tr>
                        <tr>
                            <td class="form-label"><b>{{ T "form.delete_key" }}</b></td>
                            <td><input type="password" name="pwd" size="8" value=""></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <small class="form-caption">
                                    <li>{{ T "form.attach_note" (acceptedFileTypes) }}
                                    <li>{{ T "form.max_size_note" .MaxKB }}
                                    <li>{{ T "form.image_size_note" .MaxW .MaxH }}
                                    {{.AddInfo}}
                                </small>
                            </td>
                        </tr>
                    </table>
                </form>
            </center>
            <hr>
            <form action="/delete" method="POST">
                {{with .Thread}}
                <a id="p{{.ID}}"></a>
                <input type="checkbox" name="{{.ID}}" value="delete">
                <span class="post-subject">{{.Subject}}</span>
                {{ T "post.name_label" }} <span class="post-author">{{if .Email}}<a href="mailto:{{.Email}}">{{.Author}}</a>{{else}}{{.Author}}{{end}}</span>{{if .Tripcode}} <b class="trip">{{if .TripcodeSecure}}◆◆{{else}}◆{{end}}{{.Tripcode}}</b>{{end}}
                {{formatTime .PostedAt}} No.{{.ID}} &nbsp;
                {{if and $.OekakiEnabled .ReplayPath}}
                [<a href="/replay/{{.ID}}">{{ T "post.watch_drawing" }}</a>]
                {{- if .ReplayDuration}}<small class="replay-duration">({{ formatDuration .ReplayDuration }})</small>{{ end }}
                {{end}}
                <br>
                {{template "media" .}}
                <blockquote class="post-body">{{formatBody .Body}}</blockquote>
                {{range .Replies}}
                <table class="reply-table">
                    <tr>
                        <td class="reply-indent">&gt;&gt;</td>
                        <td class="reply-cell" id="p{{.ID}}">
                            <input type="checkbox" name="{{.ID}}" value="delete">
                            <span class="post-subject">{{.Subject}}</span>
                            {{ T "post.name_label" }} <span class="post-author">{{if .Email}}<a href="mailto:{{.Email}}">{{.Author}}</a>{{else}}{{.Author}}{{end}}</span>{{if .Tripcode}} <b class="trip">{{if .TripcodeSecure}}◆◆{{else}}◆{{end}}{{.Tripcode}}</b>{{end}}
                            {{formatTime .PostedAt}} No.{{.ID}} &nbsp;
                            {{if and $.OekakiEnabled .ReplayPath}}
                            [<a href="/replay/{{.ID}}">{{ T "post.watch_drawing" }}</a>]
                            {{- if .ReplayDuration}}<small class="replay-duration">({{ formatDuration .ReplayDuration }})</small>{{ end }}
                            {{end}}
                            <br>
                            {{template "media" .}}
                            <blockquote class="post-body">{{formatBody .Body}}</blockquote>
                            <br clear="all">
                        </td>
                    </tr>
                </table>
                {{end}}
                <div class="clearfix"></div>
                <hr>
                {{end}}
            <table class="delete-table">
                <tr>
                    <td>
                        {{ T "form.delete_key" }}
                        <input type="password" name="pwd" size="8" value="">
                        <input type="submit" value="{{ T `form.delete_button` }}">
                    </td>
                </tr>
            </table>
            </form>
            <p class="footer">
                - <a href="http://php.s3.to" target="_top">GazouBBS</a> + <a href="http://www.2chan.net/" target="_top">futaba</a> + rikachama -
            </p>
            <script>window.i18n = {{ jsMessages }};</script>
            <script src="/static/ruffle/ruffle.js"></script>
            <script src="/static/enhance.js"></script>
            {{if .OekakiEnabled}}
            <script src="/static/tegaki/tegaki.js"></script>
            <script src="/static/oekaki.js"></script>
            {{end}}
        </body>
    </html>
